# LITELLM PROXY DEPENDENCIES #
anyio==4.2.0 # openai + http req.
openai>=1.0.0 # openai req. 
fastapi>=0.109.1 # server dep
litellm==1.56.8.dev7
pydantic>=2.5 # openai req. 
backoff==2.2.1 # server dep
pyyaml>=6.0.1 # server dep
uvicorn==0.22.0 # server dep
gunicorn==21.2.0 # server dep
### LITELLM PACKAGE DEPENDENCIES
certifi>=2023.7.22 # [TODO] clean up 
aiohttp==3.10.2 # for network calls
####